@import url('https://fonts.googleapis.com/css2?family=Inter');

* {
    font-family:'Inter';
}

body {
    color: rgba(102, 0, 255, 0.726);
    background-color: rgb(178, 192, 255);
}

h1 {
    font-size: 72px;
}

.page-banner {
    height: 200px;
    width: fit-content;
}

.devlog_section {
    margin-top: 13px;
    border-radius: 10px;
    padding: 0px 10px;
    border: 2px rgba(102, 0, 255, 0.726) solid;
    background-color: rgb(213, 185, 255);
}

.page-title {
    text-align: center;
}

a {
    display: inline-block;
    transition: transform 0.3s ease-out;
}

a:hover {
  transform: translateY(-5px);
}

.footer-block {
    display: inline-block;
    padding: 5px;
}

.footer-list-horizontal {
    border: black solid 2px;
}